# Correct, portable requirements.txt for Streamlit Cloud
accelerate
aiohttp
datasets
fsspec
GitPython
huggingface_hub
numpy
pandas
peft
pillow
pyarrow
pysocks
requests
safetensors
streamlit==1.30.0
torch
tqdm
transformers
watchdog